sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
myst-parser==2.0.0
pandas==2.0.3
beautifulsoup4==4.12.2
pytest >=8.0.0
requests==2.31.0
selenium==4.18.1
numpy==1.25.1
plotly==5.24.1
dash>=2.18.0
curl_cffi==0.12.0